@import url('https://fonts.google.com/specimen/Figtree');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
    display: flex;
    padding: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    margin: 10%;
    background-color: white;
    padding: 0.8rem; 
    border-radius: 20px;
    box-shadow: 10px 10px 2px;
    font-size: 16px;
    width: 100%;
    max-width: 380px;
}

p, h2, .greg {
    margin: 12px; 
}

h2 {
  cursor: pointer;
  transition: color 0.25s ease;
}

h2:hover,
h2:focus {
  color: hsl(47, 88%, 63%);
}

main p img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: 100;
}

.learning {
    background-color: hsl(47, 88%, 63%);
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.learning:hover,
.learning:focus {
  background-color: hsl(47, 88%, 53%);
}

.body {
    color: hsl(0, 0%, 42%);
}

.greg {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.greg p {
    flex: 1;
    font-weight: 800;
}




