@import url('https://fonts.google.com/specimen/Figtree');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
  --yellow: hsl(47, 88%, 63%);
}

body {
    background-color: var(--yellow);
    font-family: 'Figtree', sans-serif;
    display: flex;
    padding: clamp(1rem, 2.5vw, 1.5rem);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    margin: 10%;
    background-color: white;
    padding: 0.8rem; 
    border-radius: 20px;
    box-shadow: 10px 10px 2px;
    width: 100%;
    max-width: 380px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

p, h2, .greg {
    margin: 12px; 
}

h2 {
  cursor: pointer;
}

h2:hover,
h2:focus {
  color: hsl(47, 88%, 63%);
}

main p img {
    width: 100%;
    border-radius: 10px;
    margin-block-end: 20px;
    font-weight: 100;
}

.learning {
    background-color: hsl(47, 88%, 63%);
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.learning:hover,
.learning:focus {
  background-color: hsl(47, 88%, 53%);
}

.body {
    color: hsl(0, 0%, 42%);
}

.greg {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.greg p {
    flex: 1;
    font-weight: 800;
}




